.nav-link {
    color: none;
    font-weight:600;
 } /* Default color for links */
.nav-link.active {
    background-color:white; /* Change this to your desired active color */
    width: 100%;
   color: rgb(72, 96, 121) !important;
   border-radius: 12px;
}
@media (max-width: 1000px) {
    /* Adjust styles for small screens */
    #auctionPro{
        color:white;
        justify-content: center;
        font-size: 10px;
        
        }
        #auctionProImg{
            width: 40px;
            
            }
}


#auctionPro{
color:white;
justify-content: center;

}
.nav-link{
    font-size:20px
   }
   @media (max-width: 1400px) {
      .nav-link{
       font-size: 12px;
      }
              
   }
   
