.nav-link {
    color: none;
    font-weight:600;
 } /* Default color for links */
.nav-link.active {
    background-color:white; /* Change this to your desired active color */
    width: 100%;
   color: rgb(108,117,125) !important;
   border-radius: 12px;
}


/* @media (max-width: 992px) {
    #nav1{
        background-color: black !important;
    }
    .nav-link .icon-text {
        display: none;
    }
} */

